body
  font-family 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", Verdana, Meiryo, "M+ 1p", sans-serif;
  font-display swap

.home
  .hero
    p.description
      color $nord9
      font-size: 1.4rem

.footer-home
  margin-top 2rem

.page-attributes
  color $nord3
  font-size smaller
  span
    display inline-block
    vertical-align middle
  .ion__svg
    display inline-block
    vertical-align middle

.footer
  color $nord3
  .copyright
    font-size smaller
  .links
    a
      color $nord3
      font-size 1.4rem
    a:hover
      color $accentColor

.ion
  display inline
  svg
    fill currentColor

p
  overflow-wrap break-word
