.home
  .hero
    p.description
      color $nord9
      font-size: 1.4rem

.footer-home
  margin-top 2rem

.last-updated
  color $nord3
  font-size smaller

.copyright
  color $nord3
  font-size smaller
