// https://www.nordtheme.com/
$nord0 = #2E3440
$nord1 = #3B4252
$nord2 = #434C5E
$nord3 = #4C566A
$nord4 = #D8DEE9
$nord5 = #E5E9F0
$nord6 = #ECEFF4
$nord7 = #8FBCBB
$nord8 = #88C0D0
$nord9 = #81A1C1
$nord10 = #5E81AC
$nord11 = #BF616A
$nord12 = #D08770
$nord13 = #EBCB8B
$nord14 = #A3BE8C
$nord15 = #B48EAD

// light
// $accentColor = $nord10
// $textColor = $nord1
// $secondaryTextColor = $nord3

// dark
$accentColor = $nord9
$textColor = $nord4
$secondaryTextColor = $nord5
$backgroundColor = $nord0
$secondaryBackgroundColor = $nord1
$tertiaryBackgroundColor = $nord2
$borderColor = $nord1
$secondaryBorderColor = $nord2
$homeDescriptionTextColor = $nord4
$inputTextColor = $nord5
$inputBackgroundColor = $nord3
$inputBorderColor = $nord2
$codeTextColor = $nord4
$codeBackgroundColor = $nord1
$scrollbarTrackColor = $nord2
$scrollbarThumbColor = $nord3
$listBulletColor = $nord3
$tableSecondaryBackgroundColor = $nord1
$tableBorderColor = $nord3
$blockquoteBorderColor = $nord3
$blockquoteTextColor = $nord4
