@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/20210307/MPLUS1p-Regular.woff2') format('woff2'),
    url('/fonts/20210307/MPLUS1p-Regular.woff') format('woff');
}

@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/20210307/MPLUS1p-Medium.woff2') format('woff2'),
    url('/fonts/20210307/MPLUS1p-Medium.woff') format('woff');
}
