@import '_var.scss';

html, body {
  background-color: $backgroundColor;
  color: $textColor;
}

a {
  color: $accentColor;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: $mainFontFamily;
  font-display: swap;
  margin: 0;
}

code, kbd, .line-number {
  font-family: $monospaceFontFamily;
  font-display: swap;
}

code {
  font-size: .85em;
}

:not(pre) > code {
  background-color: $codeBackgroundColor;
  padding: .15rem .3rem;
  margin: 0;
  border-radius: 3px;
}

pre code {
  background-color: transparent;
}

pre[class*="language-"] {
  background-color: darken($nord0, 4%) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.25;
  font-family: $titleFontFamily;
}

h2 {
  font-size: 1.65rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid $borderColor;
}

h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

ol, p, ul {
  line-height: 1.7;
}

hr {
  border: none;
  border-top: 1px solid $borderColor;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  width: 740px;
  max-width: calc(100% - 4rem);
  margin: 0 auto;
  margin-top: 57px;
  padding: 2rem;
  h1, h2:not(.post-title), h3, h4, h5, h6 {
    margin-top: -3rem;
    padding-top: 4rem;
  }
  .nuxt-content-container {
    position: static !important;
  }
  .nuxt-content, &.tags {
    h1, h2, h3, h4, h5, h6 {
      a {
        margin-left: -1.2rem;
        padding-right: .2rem;
        position: relative;
        display: inline-block;
        visibility: hidden;
      }
      &:hover a {
        visibility: visible;
      }
      .icon-link::before {
        content: '#';
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .content {
    .nuxt-content, &.tags {
      h1, h2, h3, h4, h5, h6 {
        a {
          visibility: visible;
          margin-left: 0;
          padding-right: .2rem;
        }
      }
    }
  }
}

.sidebar,
.navbar
.navbar div.links {
  background-color: $backgroundColor;
  border-color: $borderColor;
}

.page-attributes {
  color: $secondaryTextColor;
  font-size: smaller;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .ion__svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.post,
.content {
  p img {
    max-width: 100%;
    height: 100%;
  }
  .remark-code-title {
    background-color: $nord1;
    font-family: $monospaceFontFamily;
    font-size: .6em;
    position: absolute;
    padding: .4rem 1rem;
    & + * > pre[class*="language-"] {
      padding-top: 2rem;
    }
  }
}

.footer {
  color: $secondaryTextColor;
  .copyright {
    font-size: smaller;
  }
  .links {
    a {
      color: $secondaryTextColor;
      font-size: 1.4rem;
    }
    a:hover {
      color: $accentColor;
    }
  }
}

.ion {
  display: inline;
  svg {
    fill: currentColor;
  }
}

li a.sidebar-link {
  font-weight: 300;
  &.active {
    font-weight: 500;
  }
}

p {
  overflow-wrap: break-word;
}

ul li::marker {
  color: $listBulletColor;
}

tr, th, td {
  border-color: $tableBorderColor;
}

tr:nth-child(2n) {
  background-color: $tableSecondaryBackgroundColor;
}

blockquote {
  border-color: $blockquoteBorderColor;
  color: $blockquoteTextColor;
}

::selection {
  background-color: $selectionBackgroundColor;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbarThumbColor;
}

::-webkit-scrollbar-track {
  background-color: $scrollbarTrackColor;
}

.icon-external-link {
  display: inline;
  & > * {
    display: inline;
    font-size: smaller;
    margin-left: .15rem;
    svg {
      fill: $externalLinkTextColor;
    }
  }
}

.footnotes {
  font-size: 0.7em;
}
