@import '_var.scss';

.content {
  h1, h2:not(.post-title), h3, h4, h5, h6 {
    margin-top: -3rem;
    padding-top: 4rem;
  }
  .nuxt-content-container {
    position: static !important;
  }
  .nuxt-content, &.tags {
    h1, h2, h3, h4, h5, h6 {
      a {
        margin-left: -1.2rem;
        padding-right: .2rem;
        position: relative;
        display: inline-block;
        visibility: hidden;
      }
      &:hover a {
        visibility: visible;
      }
      .icon-link::before {
        content: '#';
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .content {
    .nuxt-content, &.tags {
      h1, h2, h3, h4, h5, h6 {
        a {
          visibility: visible;
          margin-left: 0;
          padding-right: .2rem;
        }
      }
    }
  }
}

pre[class*="language-"] {
  // Doesn't work on TailwindCSS on production (seems purged)
  // @apply bg-nord0-dark !important;
  background-color: darken($nord0, 4%) !important;
}

.post,
.content {
  // cannot apply with TailwindCSS
  .remark-code-title  + * > pre[class*="language-"] {
    padding-top: 2rem;
  }
}

::selection {
  background-color: $selectionBackgroundColor;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbarThumbColor;
}

::-webkit-scrollbar-track {
  background-color: $scrollbarTrackColor;
}
