@import '_var.scss';

html, body {
  background-color: $backgroundColor;
  color: $textColor;
}

a {
  color: $accentColor;
  text-decoration: none;
}

body {
  font-family: Rubik,'M PLUS 1p','Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", Verdana, Meiryo, "M+ 1p", sans-serif;;
  font-display: swap;
  margin: 0;
}

code, kbd, .line-number {
  font-family: 'Roboto Mono',source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-display: swap;
}

code {
  font-size: .85em;
}

:not(pre) > code {
  background-color: $codeBackgroundColor;
  padding: .15rem .3rem;
  margin: 0;
  border-radius: 3px;
}

pre code {
  background-color: transparent;
}

pre[class*="language-"] {
  background-color: darken($nord0, 4%) !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-size: 1.65rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid $borderColor;
}

h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

ol, p, ul {
  line-height: 1.7;
}

hr {
  border: none;
  border-top: 1px solid $borderColor;
}

.content {
  max-width: 740px;
  margin: 0 auto;
  padding: 2rem;
}

.sidebar,
.navbar
.navbar div.links {
  background-color: $backgroundColor;
  border-color: $borderColor;
}

div.search-box {
  input {
    color: $inputTextColor;
    background-color: $inputBackgroundColor;
    &:focus {
      border-color: $inputBorderColor;
    }
  }
  ul.suggestions {
    background-color: $secondaryBackgroundColor;
  }
  li.suggestion.focused {
    background-color: $tertiaryBackgroundColor;
  }
}

.dropdown-wrapper ul.nav-dropdown {
  background-color: $secondaryBackgroundColor;
  border-color: $secondaryBorderColor;
}

.home {
  .hero {
    p.description {
      color: $homeDescriptionTextColor;
      font-size: 1.2rem;
      font-weight: 300;
      max-width: 90%;
    }
  }
}

.footer-home {
  margin-top: 2rem;
}

.page-attributes {
  color: $secondaryTextColor;
  font-size: smaller;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .ion__svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.post,
.content {
  p img {
    max-width: 100%;
  }
}

.theme-default-content code {
  color: $codeTextColor;
  background-color: $codeBackgroundColor;
  padding: 0.15rem 0.3rem;
}

.pagination {
  margin-top: 2rem;
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.pagination > li {
  display: inline;
  margin: 8px 0;
  a {
    padding: 6px 12px;
    outline: none;
  }
  &.active {
    a {
      color: $nord4;
      background-color: $nord2;
      border-radius: 4px;
    }
  }
  &:not(.active) {
    a:hover {
      background-color: $nord1;
      border-radius: 4px;
    }
  }
}

.footer {
  color: $secondaryTextColor;
  .copyright {
    font-size: smaller;
  }
  .links {
    a {
      color: $secondaryTextColor;
      font-size: 1.4rem;
    }
    a:hover {
      color: $accentColor;
    }
  }
}

.ion {
  display: inline;
  svg {
    fill: currentColor;
  }
}

li a.sidebar-link {
  font-weight: 300;
  &.active {
    font-weight: 500;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p {
  overflow-wrap: break-word;
}

ul li::marker {
  color: $listBulletColor;
}

tr, th, td {
  border-color: $tableBorderColor;
}

tr:nth-child(2n) {
  background-color: $tableSecondaryBackgroundColor;
}

blockquote {
  border-color: $blockquoteBorderColor;
  color: $blockquoteTextColor;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbarThumbColor;
}

::-webkit-scrollbar-track {
  background-color: $scrollbarTrackColor;
}

.icon-external-link {
  display: inline;
  & > * {
    display: inline;
    font-size: smaller;
    margin-left: .15rem;
    svg {
      fill: $externalLinkTextColor;
    }
  }
}
